@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

.headeris{
  background-color: #bd6720fd;
}
section{
  background-color: #fafafae7;
  box-shadow:10px 20px 50px 10px #140a4786;
}
body{
  background-image: url(./media/Nova\ Scotia\ Duck\ Tolling\ Retriever.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}
section#turinys{ 
  background-color: rgb(98, 226, 226);
}