@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body{
  background-color: aquamarine;
}
@media (min-width: 600px){
  body{
    background-color: aqua;
  }
}
@media (min-width: 1000px){
  body{
    background-color: rgb(190, 212, 65);
  }
  h1, h2, h3 {
    text-align: center;
  }
}